.git
.gitignore
.idea
.vscode
.env
.env.local
.env.*.local
.phpunit.cache
.phpunit.result.cache

vendor
node_modules

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/app/public/*
public/storage

tests
phpunit.xml

README.md
*.md

docker-compose*.yml
